<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="registerUserData" class="application.Model.RegistrationDataObject" scope="singleton" />
    <bean id="faceDetection" class="modules.OPENCVFaceDetection" lazy-init="true" />
    <bean id="camera" class="modules.OPENCVCamera" lazy-init="true" scope="singleton" />
    <bean id="convertMatToImage" class="modules.ConvertMatToImage" lazy-init="true"/>
    <bean id="detectBorderFaces" class="modules.OPENCVDetectAndBorderFaces" lazy-init="true" />
    <bean id="fingerPrintScan" class="application.Model.FutronicFingerPrintScanner" lazy-init="true" />

    <bean id="config" class="org.apache.commons.configuration.PropertiesConfiguration" >
        <constructor-arg name="fileName" type="java.lang.String" value="config.properties" />
    </bean>



    <bean id="face" lazy-init="true" class="application.Model.Face"></bean>
    <bean id="finger" lazy-init="true" class="application.Model.Finger"/>
</beans>